<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean id="beanTemplate" abstract="true">
        <property name="messageParent" value="父bean"/>
    </bean>

    <bean id="helloWorld" class="cn.xxy.demo.HelloWorld" init-method="init" destroy-method="destroy" parent="beanTemplate">
        <property name="message" value="Hello World!"/>
    </bean>

    <bean class="cn.xxy.demo.InitHelloWorld"/>-->

    <bean id="engine" class="cn.xxy.demo.di_constructor.Engine"/>
    <bean id="wheel" class="cn.xxy.demo.di_constructor.Wheel"/>
    <bean id="car" class="cn.xxy.demo.di_constructor.Car">
        <constructor-arg ref="engine"/><!--构造函数注入bean-->
        <property name="wheel" ref="wheel"/><!--setter 方法注入bean-->
        <!--传值到构造函数、setter 方法-->
        <!--<constructor-arg type="java.lang.Integer" value="1"/>
        <constructor-arg index="0" value="1"/>
        <property name="aa" value="aa"/>-->

    </bean>
    <!--p-namespace 用法-->
    <!--<bean id="car" class="cn.xxy.demo.di_constructor.Car" p:wheel-ref="wheel">
        <constructor-arg ref="engine"/>
    </bean>-->
    <!--注入内部bean-->
    <!--<bean id="car" class="cn.xxy.demo.di_constructor.Car" p:wheel-ref="wheel">
        <property name="wheel">
            <bean id="wheel" class="cn.xxy.demo.di_constructor.Wheel"/>
        </property>
    </bean>-->

    <bean id="" class="">
        <property name="cityList">
            <list>
                <value>北京</value>
                <value>上海</value>
                <value>上海</value>
                <value>广州</value>
                <!--<ref bean="xx"/>--><!--注入引用对象-->
            </list>
        </property>
        <property name="provinceSet">
            <set>
                <value>广东</value>
                <value>广西</value>
                <value>河南</value>
                <value>河南</value>
                <!--<ref bean="xx"/>--><!--注入引用对象-->
            </set>
        </property>

    </bean>
</beans>